.dFlex {
    display: flex;
    width: 95%;
    background-color: rgb(244, 177, 230);
    border-radius: 10px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 70px;
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 10px 0px;
}

@media(max-width:400px) {
    .dFlex {
        column-gap: 15px;
        padding: 10px 0px;
    }
}

@media(max-width:500px) {
    .dFlex {
        column-gap: 16px;
        padding: 10px 0px;
    }
}