.chartBar {
    height: 14vh;
    width: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(186, 126, 243);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chartBarInner {
    width: 25px;
    background-color: rgb(91, 25, 153);
    transition: 0.7s all ease-out;
}